// @theme "~/.cache/wal/colors-rofi-dark.rasi"

* {
    main-bg:            #E0C8A4B3;
    main-fg:            #FFEBCCE6;
    main-br:            #745B44E6;
    main-ex:            #937C5CE6;
    select-bg:          #F0CDAA80;
    select-fg:          #523D29E6;
}
